#listvisit {
    border-collapse: separate;
  border-color: blue;
  }
  .table, td, th {
    border: 3px solid red;
  }
 
  .badge1{
    position: relative;
    top: -10px;
    left: -7px;
    font-size:  x-small;
    padding: 1px 5px 1px 5px;
    border-radius:  50%;
    background-color:  red;
    color: white;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}